/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    /* height: 100%; */
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px auto;
    border-bottom: 1px dashed black;
}
.top-content .top-image img {
    height: 153px;
    max-width: 100%;
    object-fit: cover; 
    object-position: center;
    margin-bottom: 16px;
}
.top-content>.text-container, .bottom-content>.text-container {
    margin: auto;
    width: 80%;
    padding: 0 1%;
    padding-bottom: 20px;  
}
.bottom-content {
    display: flex;
    flex-direction: column;
}
@media (min-width: 500px) {
    .top-content>.text-container {
        width: 48%;
    }
    .bottom-content {
        flex-direction: row;
    }
    .bottom-content>.text-container {
        width: 30%;
    }
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
    text-align: center;
}
@media (min-width: 500px) {
    .middle-content h2 {
        text-align: left;
    }
}

.middle-content .boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
@media (min-width: 500px) {
    .middle-content>.boxes {
        flex-direction: row;
        flex-wrap: wrap;
    }
}


.middle-content .boxes .box {
    width: 100px;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (min-width: 500px) {
    .middle-content>.boxes>.box {
        width: 12.5%;
    }
}

footer {
    /* width: 100%; */
    background: black;
}

footer nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    width: 100%;
    color: white;
    text-decoration: none;
    padding: 8px 0;
    text-align: center;
}
@media (min-width: 500px) {
    footer nav {
        width: 60%;
    }
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

nav>img {
    width: 157px;
    margin: 10px auto;
}

nav>a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 2px;
}
@media (min-width: 500px) {
    nav { 
        flex-direction: row;
        justify-content: space-between; 
        align-items: center;
        margin-bottom: 16px;
    }
    nav>img {
        margin: 10px 0;
    }
    nav>a {
        font-size: 16px;
    }
    .top-content {
        flex-direction: row;
    }
}

.box:nth-of-type(1) {
    background-color: teal;
}
.box:nth-of-type(2) {
    background-color: gold;
}
.box:nth-of-type(3) {
    background-color: cadetblue;
}
.box:nth-of-type(4) {
    background-color: coral;
}
.box:nth-of-type(5) {
    background-color: crimson;
}
.box:nth-of-type(6) {
    background-color: forestgreen;
}
.box:nth-of-type(7) {
    background-color: darkorchid;
}
.box:nth-of-type(8) {
    background-color: hotpink;
}
.box:nth-of-type(9) {
    background-color: indigo;
}
.box:nth-of-type(10) {
    background-color: dodgerblue;
}